.flex-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-nowrap{flex-wrap: nowrap;}
.flex-space-between{justify-content: space-between;}
.flex-bottom{align-items: flex-end !important;}

.tilt-left{transform: rotate(7deg);}
.tilt-right{transform: rotate(-7deg);}

.no-margin{margin: 0 !important;}